<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>LOG - %d{HH:mm:ss.SSS} *%-5level* [%thread] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    
    <logger name="net.distilledcode.httpclient" level="TRACE"/>

    <root level="WARN">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>